<IfModule mod_rewrite.c>
    RewriteEngine On

    # Разрешение прямого доступа к index.php
    <Files "index.php">
        Order Allow,Deny
        Allow from all
    </Files>

    
    # Запрет прямого доступа к .php файлам, кроме index.php
    <FilesMatch "^(?!index\.php).+\.php$">
        Order Deny,Allow
        Deny from all
    </FilesMatch>

    <Files "get_category.php">
        Order Allow,Deny
        Allow from all
    </Files>

    <Files "upload.php">
        Order Allow,Deny
        Allow from all
    </Files>

    <Files "add_to_basket.php">
        Order Allow,Deny
        Allow from all
    </Files>

    <Files "delete_from_basket.php">
        Order Allow,Deny
        Allow from all
    </Files>

    <Files "search.php">
        Order Allow,Deny
        Allow from all
    </Files>

    # Роутинг в index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
