RewriteEngine On

# Перенаправлять только GET-запросы на index.php
RewriteCond %{REQUEST_METHOD} !^GET$
RewriteRule ^ - [L]

# Перенаправление на index.php для GET-запросов
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]