.asside {
  position: relative;
}


.asside__title {
  font-size: 36px;
  margin-bottom: 30px;
}

.asside__items {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.asside__link {
  display: block;
  font-size: 20px;
  color: var(--text-color);
  border: 1px solid var(--accent_light-color);
  padding: 15px;
  border-radius: 10px;
}

.asside__link::first-letter {
  text-transform: uppercase;
}

.asside__link:hover {
  color: var(--accent_light-color);
  background-color:var(--main-color);
  border: 0;
}


@media (max-width: 1160px) {

  .asside {
    display: none;
  }
}
