.footer {
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer_text {
  color: var(--accent_light-color);
}

.footer a {
  color: var(--accent_light-color);
  text-decoration: underline;
}