main {
  flex-grow: 1;
}
.main-page {
display: flex;
justify-content: space-between;
margin-top: 50px;
}

/* main page for devices */
@media (max-width:1160px) {
  .main-page {
  justify-content: center;
}
}