.products {
  margin: 30px 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 280px));
  gap: 20px;
  justify-content: center;
}

.product-card {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  border: 1px solid var(--accent_light-color);
  overflow: hidden;
}
.product-card > form {
  display: flex;
  flex-direction: column;
  height: 100%;
} 

.product-card__items {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-grow:1;
}
.product-card__title {
  font-size: 24px;
  color: var(--main-color);
}
.product-card__price {
  font-size: 20px;
  color: var(--main-color);
}

.product-card__discription {
  overflow: hidden;
  word-wrap: break-word;
}

.product-card__to-basket {
  border-top: 1px solid var(--accent_light-color) ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.product-card__button {
  display: block;
  padding: 8px 12px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
}

.product-card__button:hover {
  color: var(--accent_light-color);
  background-color: var(--main-color);
}

/* Pagination */

.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.paginations__items {
  display: flex;
  column-gap: 10px;
}
.pagination__item {
  border: 1px solid var(--accent_light-color);
  color: var(--main-color);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item:hover {
  color: var(--accent_light-color);
  background-color: var(--main-color);
}

p.pagination__item {
  color: var(--accent_light-color);
  background-color: var(--main-color);
}
