.nav-search {
  display: flex;
  padding: 30px 30px 10px;
  flex-direction: column;
  align-items: center;
  column-gap: 10px;
}

.nav-search_admin {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  column-gap: 10px;
  position: relative;
}

.nav-search__item {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
border-radius: 5px;
overflow: hidden;
height: 30px;
border: 1px solid var(--main-color);
}

.searchDropdown {
  position: absolute;
  width: 100%;
  display: none;
  flex-direction: column;
  margin-top: 30px;
  border: 1px solid var(--read-only);
  border-radius: 5px;
  overflow: hidden;
}

.searchDropdown_a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: var(--main-color);
  background-color: var(--write);
}

.searchDropdown a:hover {
  background-color: var(--choise);
}


.nav-search__item input{
  background-color: var(--write);
  width: 100%;
  padding: 8px;
}
.nav-search__item div, .nav-search__item button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 100%;
  padding: 0 5px;
}

.nav-search__item svg {
  width: 20px;
  
}
.nav-buttons {
  display: flex;
  column-gap: 15px;
  align-items: center;

}

.nav-search__link {
  color: var(--accent_light-color);
}