.registration {
  background-color: var(--write);
  box-shadow: 0px 0px 9px 9px rgba(29, 8, 75, 0.20);
  border-radius: 10px;
  max-width: 600px;
}

.registration__title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}
.registration__form {
  border: 1px solid var(--accent-color);
  padding: 20px 30px;
}
.registration__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.registration__item {
  flex: 1 255px;
  display: flex;
  flex-direction: column;
}
.registration__item input {
  border-radius: 10px;
  border: 1px solid var(--main-color);
  padding: 7px;
}
.form_button {
  width: 100%;
  background-color: var(--main-color);
  padding: 10px;
  color: var(--accent_light-color);
  border-radius: 10px;
  margin-top: 20px;

}
.registration__footer {
  text-align: center;
  padding: 10px;
}
.registration__footer a {
  color: var(--main-color);
  font-size: 14px;
}