/* fonts */
@font-face {
  font-family: TenorSansLocal ;
  src: url(./../../fonts/Tenor_Sans/TenorSans-Regular.ttf)
    format("truetype");
}

body {
  font-family: TenorSanslocal;
  font-size: 16px;
}

label.requared::before {
  content: "*";
  color: var(--error);
  margin-right: 3px; /* Добавьте отступ между звездочкой и текстом, если нужно */
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: var(--main-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent_light-color);
  border-radius: 10px;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.user_form_item.success input {
  border-color: var(--success);
}

.user_form_item.error input {
  border-color: var(--error);
}

.user_form_item .error_local {
  color: var(--error);
  font-size: 12px;
}

.user_form_item .success_local {
  color: var(--success);
  font-size: 12px;
}

.error_main {
  margin: 10px 0;
  text-align: center;
  color: var(--write);
  font-size: 20px;
  background-color: var(--error);
  border-radius: 5px;
  animation: hideDiv 5s forwards;
}

.success_main {
  margin: 10px 0;
  text-align: center;
  color: var(--main-color);
  font-size: 20px;
  background-color: var(--success);
  animation: hideDiv 5s forwards;
}

.user_form_item  .noutification_local_upload {
  color: var(--noutification);
  font-size: 12px;
}

@keyframes hideDiv {
  0% {

  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.read_only {
  background-color: var(--accent_light-color);
  color: var(--read-only)
}


.not_found {
  font-size: 30vw;
  color: var(--main-color);
  text-align: center;
}

.not_found_text {
  font-size: 5vw;
  color: var(--main-color);
  text-align: center;
}


.notification_items {
  display: flex;
  flex-direction: column;
  position: fixed;
  row-gap: 10px;
  right: 3%;
  top:10%;
}

.notification_text_success {
  display: block;
  color: var(--main-color);
  background-color: var(--success);
  padding: 10px 15px;
  border-radius: 5px;
  animation: hideDiv 2s forwards;
}
.notification_text_error {
  display: block;
  color: var(--write);
  background-color: var(--error);
  padding: 10px 15px;
  border-radius: 5px;
  animation: hideDiv 2s forwards;
}

