:root {
  --main-color: #1D084B;
  --main_light-color: #3533B2;
  --accent_light-color: #F6D9E2;
  --text-color: #1E1E1E;
  --accent-color: #F199E3;
  --accent_dark-color: #C247ED;
  --write: #ffffff;
  --error: #ff0000;
  --success: rgb(94, 255, 94);
  --noutification: rgb(56, 0, 159);
  --read-only: hsl(0, 0%, 42%);
}