:root {
  --main-color: #1D084B;
  --main_light-color: #3533B2;
  --accent_light-color: #F6D9E2;
  --text-color: #1E1E1E;
  --accent-color: #F199E3;
  --accent_dark-color: #C247ED;
  --write: #ffffff;
  --error: #ff0000;
  --success: #5eff5e;
  --notification: #38009f;
  --read-only: #6b6b6b;
  --choise: #e8e8e8;;
}