.profil {
  max-width: 600px;
  flex: 600px;
  
}
.profil__title {
  color: var(--main-color);
  font-size: 36px;
}

.profil__title2 {
  color: var(--main-color);
  font-size: 24px;
  margin-bottom: 20px;
}

.profil_data {
  margin-bottom: 40px;
}

.profil__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-bottom: 30px;
}

.profil__items_hidden {
  display: none;
}
.profile__item {
  display: flex;
  flex-direction: column;
  flex: 150px;
}
.profile__item label {
   padding: 5px;
   color: var(--main-color);
}
.profile__item input, textarea, select  {
  border: 1px solid var(--main-color);
  padding: 8px 5px;
  border-radius: 10px;
}

.profil_submit {
  width: 100%;
  background-color: var(--main-color);
  color: var(--accent_light-color);
  border-radius: 10px;
  padding: 10px;
}