/* fonts */
@font-face {
  font-family: TenorSansLocal ;
  src: url(/fonts/Tenor_Sans/TenorSans-Regular.ttf)
    format("truetype");
}

body {
  font-family: TenorSanslocal;
  font-size: 16px;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.user_form_item.success input {
  border-color: green;
}

.user_form_item.error input {
  border-color: red;
}

.user_form_item .error_local {
  color: red;
  font-size: 12px;
}