.table_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
table {
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 20px;
  /* Добавим отступ вниз, чтобы улучшить визуальный вид */
}

th,
td {
  border: 1px solid var(--accent_light-color);
  padding: 8px;
  text-align: left;
}

.add_button {
  border: 0;
  padding: 5px;
}

th {
  background-color: var(--accent_light-color);
  /* Цвет фона для заголовков */
}