.table_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  /* Добавим отступ вниз, чтобы улучшить визуальный вид */
}

th,
td {
  border: 1px solid var(--accent_light-color);
  padding: 8px;
  text-align: left;
}

@media (max-width: 600px) {

  /* tr>:nth-child(2),
  tr>:nth-child(3),
  tr>:nth-child(4) {
    display: none;
  } */

  .device_none {
    display: none;
  }

  tr>:nth-child(1) {
    min-width: 140px;
  }
}

.add_button {
  border: 0;
  padding: 5px;
}

th {
  background-color: var(--accent_light-color);
  /* Цвет фона для заголовков */
}

.user_settings_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.user_settings {
  max-width: 600px;
}

.user_settings_items {
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
  margin-bottom: 30px;
}